{{template "centre_begin.html" .}}

{{define "title"}}Login{{end}}

<main class="card">
  <form>
    <h1>Please sign in</h1>
    <div>
      <label for="floatingInput">Email address</label>
      <input type="email" id="floatingInput" placeholder="name@example.com" />
    </div>
    <div>
      <label for="floatingPassword">Password</label>
      <input type="password" id="floatingPassword" placeholder="Password" />
    </div>
    <div>
      <label for="checkDefault">Remember me</label>
      <input type="checkbox" value="remember-me" id="checkDefault" />
    </div>
    <input type="date" name="date" aria-label="Date">
    <label>
      <input name="terms" type="checkbox" role="switch" />
      I agree to the Terms
    </label>
    <button type="submit">Sign in <i data-feather="log-in"></i> </button>
  </form>
</main>

{{template "centre_end.html" .}}