{{template "centre_begin.html" .}}

{{define "title"}}Reset Password{{end}}

<article>
    <header>
        <div style="display: flex; flex-direction: column; align-items: center; gap: 20px;">
            <i data-feather="key" style="width: 3rem; height: 3rem;"></i>
            <h1>Reset Password</h1>
        </div>
    </header>
    <p>Enter your email, reset token, and choose a new password.</p>
    <form method="POST">
        <input type="hidden" name="_action" value="reset_password" />

        <label for="email">Email address</label>
        <input type="email" id="email" required name="email" autocomplete="email" placeholder="name@example.com"
            value="{{ .Email }}" {{if .EmailError}}aria-invalid="true" {{end}} aria-describedby="emailError" />
        {{ if .EmailError }}
        <small id="emailError">{{ .EmailError }}</small>
        {{ end }}

        <label for="token">Reset Token</label>
        <input type="text" id="token" required name="token" placeholder="Reset token" value="{{ .Token }}" {{if
            .TokenError}}aria-invalid="true" {{end}} aria-describedby="tokenError" />
        {{ if .TokenError }}
        <small id="tokenError">{{ .TokenError }}</small>
        {{ else }}
        <small>This is your reset token. Please check your email for the token. Do not share it with anyone.</small>
        {{ end }}

        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" required name="newPassword" placeholder="New Password"
            autocomplete="new-password" value="{{ .NewPassword }}" {{if .NewPasswordError}}aria-invalid="true" {{end}}
            aria-describedby="newPasswordError" />
        {{ if .NewPasswordError }}
        <small id="newPasswordError">{{ .NewPasswordError }}</small>
        {{ end }}

        <label for="confirmNewPassword">Confirm New Password</label>
        <input type="password" id="confirmNewPassword" required name="confirmNewPassword"
            placeholder="Confirm New Password" autocomplete="new-password" value="{{ .ConfirmNewPassword }}" {{if
            .ConfirmNewPasswordError}}aria-invalid="true" {{end}} aria-describedby="confirmNewPasswordError" />
        {{ if .ConfirmNewPasswordError }}
        <small id="confirmNewPasswordError">{{ .ConfirmNewPasswordError }}</small>
        {{ end }}

        {{ .CSRF }}
        {{ if .Error }}
        <p class="error">{{ .Error }}</p>
        {{ end }}
        <div style="display: flex; flex-direction: column; align-items: center;">
            <button type="submit"><i data-feather="refresh-cw"></i> Reset Password</button>
            <a href="/login">Back to login</a>
        </div>
    </form>
</article>

{{template "centre_end.html" .}}