{{template "centre_begin.html" .}}

{{define "title"}}Sign up{{end}}

<article>
    <header>
        <div style="display: flex; flex-direction: column; align-items: center; gap: 20px;">
            <i data-feather="log-in" style="width: 3rem; height: 3rem;"></i>
            <h1>Sign up</h1>
        </div>
    </header>
    <p>Create a new account to get started.</p>
    <form method="POST">
        <input type="hidden" name="_action" value="signup" />
        <label for="email">Email address</label>
        <input type="email" id="email" required name="email" autocomplete="email" placeholder="name@example.com"
            value="{{ .Email }}" {{if or .Email
            .EmailError}}aria-invalid="{{ if .EmailError }}true{{ else }}false{{ end }}" {{end}}
            aria-describedby="emailError" />
        {{ if .EmailError }}
        <small id="emailError">{{ .EmailError }}</small>
        {{ end }}

        <label for="password">Password</label>
        <input type="password" id="password" required name="password" placeholder="Password"
            autocomplete="current-password" value="{{ .Password }}" {{if or .Password .PasswordError}}
            aria-invalid="{{ if .PasswordError }}true{{ else }}false{{ end }}" {{end}}
            aria-describedby="passwordError" />
        {{ if .PasswordError }}
        <small id="passwordError">{{ .PasswordError }}</small>
        {{ end }}

        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" required name="confirmPassword" placeholder="Confirm Password"
            autocomplete="current-password" value="{{ .ConfirmPassword }}" {{if or .ConfirmPassword
            .ConfirmPasswordError}} aria-invalid="{{ if .ConfirmPasswordError }}true{{ else }}false{{ end }}" {{end}}
            aria-describedby="confirmPasswordError" />
        {{ if .ConfirmPasswordError }}
        <small id="confirmPasswordError">{{ .ConfirmPasswordError }}</small>
        {{ end }}

        {{ .CSRF }}
        {{ if .GeneralError }}
        <p class="error">{{ .GeneralError }}</p>
        {{ end }}
        <div style="display: flex; flex-direction: column; align-items: center;">
            <button type="submit"><i data-feather="user-plus"></i> Sign up</button>
            <a href="/login">Already have an account? Log in</a>
        </div>
    </form>
</article>

{{template "centre_end.html" .}}