{{template "centre_begin.html" .}}

{{define "title"}}Verify Email{{end}}

<article>
    <header>
        <div style="display: flex; flex-direction: column; align-items: center; gap: 20px;">
            <i data-feather="mail" style="width: 3rem; height: 3rem;"></i>
            <h1>Verify Email</h1>
        </div>
    </header>
    <p>Enter the verification token sent to your email address.</p>
    <form method="POST">
        <input type="hidden" name="_action" value="verify_email" />
        <label for="token">Verification Token</label>
        <input type="text" id="token" required name="token" placeholder="Enter your token" value="{{ .Token }}" {{if
            .TokenError}} aria-invalid="true" {{end}} aria-describedby="tokenError" />
        {{ if .TokenError }}
        <small id="tokenError">{{ .TokenError }}</small>
        {{ end }}

        {{ .CSRF }}
        {{ if .Error }}
        <p class="error">{{ .Error }}</p>
        {{ end }}
        <div style="display: flex; flex-direction: column; align-items: center;">
            <button type="submit"><i data-feather="check"></i> Verify Email</button>
        </div>
    </form>

    {{ if not .Message }}
    <form method="POST" id="resendForm" style="margin-top: 2rem;">
        <input type="hidden" name="_action" value="resend_verification" />
        {{ .CSRF }}
        <div style="display: flex; flex-direction: column; align-items: center;">
            <button type="submit" id="resendBtn"><i data-feather="refresh-cw"></i> Resend Verification Token</button>
            <small id="resendInfo" style="margin-top: 8px;"></small>
        </div>
    </form>
    {{ else}}
    <p>{{ .Message }}</p>
    {{ end }}

    <footer>
        <div style="display: flex; justify-content: center; margin-bottom: 1rem;">
            <a href="/logout">
                <i data-feather="log-out"></i> Logout
            </a>
        </div>
    </footer>


</article>

{{template "centre_end.html" .}}