{{define "base_begin.html"}}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{block "title" .}}{{end}}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <link rel="stylesheet" href="/static/main.css" />
  {{block "extend_head" .}}{{end}}
</head>

<body>
  {{end}}

  {{define "base_end.html"}}

  {{block "extend_body" .}}{{end}}
  <script src="https://unpkg.com/feather-icons"></script>
  <script>
    feather.replace();
  </script>
</body>

</html>
{{end}}