@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url("theme.css");

:host,
:root {
    --pico-font-size: 90%;
    --pico-font-family-sans-serif: "Raleway", sans-serif;
}

a {
    --pico-text-decoration: none;
}

@media (min-width: 576px) {

    :host,
    :root {
        --pico-font-size: 100%;
    }
}

@media (min-width: 768px) {

    :host,
    :root {
        --pico-font-size: 106.25%;
    }
}

@media (min-width: 1024px) {

    :host,
    :root {
        --pico-font-size: 112.5%;
    }
}

@media (min-width: 1280px) {

    :host,
    :root {
        --pico-font-size: 118.75%;
    }
}

@media (min-width: 1536px) {

    :host,
    :root {
        --pico-font-size: 125%;
    }
}

/* Override 100 width for submit buttons */
button[type=submit] {
    width: auto;
}

.feather {
    width: 1.2rem;
    height: 1.2rem;
}

dialog {
    transition: display 1s allow-discrete, overlay 1s allow-discrete;

    animation: close 1s forwards;

    &[open] {
        animation: open 1s forwards;
    }
}

@keyframes open {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes close {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

p.success {
    color: green;
    text-align: center;
}

p.error {
    color: indianred;
    text-align: center;
}