<dialog id="forgotPassword" style="max-width: 400px; width: 100%;" {{if .DialogOpen}}open{{end}}>
    <article>
        <header>
            <button aria-label="Close" rel="prev" onclick="this.closest('dialog').close()"></button>
            <h2>Forgot Password</h2>
        </header>
        <p>We will send you an email with instructions to reset your password.</p>
        <form method="POST">
            <input type="hidden" name="_action" value="forgot_password" />
            <label for="email">Email address</label>
            <input type="email" id="resetEmail" required name="resetEmail" autocomplete="email"
                placeholder="name@example.com" value="{{ .Email }}" {{if .EmailError}}aria-invalid="true" {{end}}
                aria-describedby="emailError" />
            {{ if .EmailError }}
            <small id="emailError">{{ .EmailError }}</small>
            {{ end }}

            {{ .CSRF }}

            {{ if .Error }}
            <p class="error">{{ .Error }}</p>
            {{ end }}

            {{ if .SuccessMessage }}
            <p class="success">{{ .SuccessMessage }}</p>
            {{ end }}
            <button type="submit">Send Reset Link</button>
        </form>
        <footer>
            <button type="button" onclick="this.closest('dialog').close()">Cancel</button>
        </footer>
    </article>
</dialog>